*{
    margin:0px;
    paddig:0px;
}
.main-container{
    background-color: black;
    display:flex;
    justify-content: space-around;
}
.logo{
    width:80px;
    height:80px;
    cursor:pointer;
}
img{
    width:100%;
}
.menus{
    color:white;
    list-style-type:none;
    display:flex;
    gap:20px;
    margin-top: 25px;
    cursor:pointer;
    
}
/* .menus li{
    margin-left:10px;
} */
.items:hover{
    color:blue;
}
.banner-container{
    display:flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(image/pngtree-this-is-a-dark-black-background-with-a-word-image_2638835.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text{
    color:white;
}
.srchbar{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(87, 24, 24);
    margin-top: 10px;
}
.banner-image{
    width:450px
}
#heading{
    font-size: xxx-large;
}
.about-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: xxx-large;
}
.box{
    width: 200px;
    height: 370px;
    box-shadow: 15px 15px 10px gray;
    background-color: black;
    color:white;
    text-align: center;
    padding:10px
}
.icon{
    width:70px;
}
.box-title{
    padding:10px;
}
.box-text{
    padding:10px;
}
.sevicer-container{
    
    padding:20px;
   
    background-image:url(image/pngtree-this-is-a-dark-black-background-with-a-word-image_2638835.png);
        /* height: 50vh; */
    
}
.heading2{
   text-align: center;
   color:white;
   margin: 20px;
   font-size: xxx-small;
}
.box1{
    display:flex;
    justify-content:space-around;
    align-items: center;
}